<!DOCTYPE html>
    <html>
        <head>
            <h4><p align = "center"> README FILE</p></h4>
        </head>
        <head>
            <title>Bold Text Example</title>
        </head>
        <body>
            <p><b>1. File Type : </b> {{file_type}}.</p>
        </body>
        <body>
        <p><b>2. Managed Care Plan:</b>{{Managed_care_plan}}.</p>
        </body>
        <body>
            <p><b>3. Performance year(s) : </b>{{performance_year}}.</p>
        </body>
        <body>
              <p><b>4. Quarter or Annual Identifier: </b> {{quater}}.</p>
        </body
        <body>
              <p><b>5. Known data quality issues : </b> {{known_data}}.</p>
        </body
        <body>
              <p><b>6. Changes to the File in this Delivery : </b> {{Changes_to_the_File_in_this_Delivery}}.</p>
        </body
        <body>
              <p><b>7. Upcoming Changes approved by ODM and Tentative Date : </b> {{upcoming_changes}}.</p>
        </body
         <body>
              <p><b>8. User Name : </b> {{Usre_Name}}.</p>
        </body
    
</html>
